<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
    </head>

    <body>
      <nav class="navbar fixed-top navbar-expand-xl navbar-light bg-light shadow p-3 mb-5 bg-white rounded">
        <div class="container-fluid">
          <div id="nav-label">
            <a class="navbar-brand" href="/">
              <img height="auto" width="40px" src="/images/ChefHatUtensils.jpg" alt="" class="img-fluid">Chef's
              Corner</a>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse justify-content-end collapse show" id="navbarTogglerDemo01" style>
            <ul class="navbar-nav" id="nav-list">

              <% if (user) { %>
                <i class=""></i>
                <li class="nav-item">
                  <a class="nav-link" href="/" <%- title==="Welcome to Project Food Book" ? 'class="active"' : '' %>
                    >Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/recipes" <%- title==="In the Kitchen" ? 'class="active"' : '' %>
                    >In the Kitchen</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/recipes/new" <%=title==="What's Cookin?" ? 'class="active"' : '' %>>Add
                    Recipe</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/profiles/<%= user.profile._id %>  " <%=title==="Chef's Profile"
                    ? 'class="active"' : '' %>>My
                    Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/profiles/" <%=title==="Foodies" ? 'class="active"' : '' %>>Foodies</a>
                </li>
                <li id="nav-end" class="nav-item">
                  <a class="nav-link" href="/auth/logout">Log Out, Chef!</a>
                </li>
                <% } else { %>
                  <li id="nav-end" class="nav-item">
                    <a href="/auth/google" class="siwg-link">Login, Chef!</a>
                  </li>
                  <% } %>
          </div>
        </div>
      </nav>