<%- include('./../partials/html-head') %>
    <%- include('./../partials/nav') %>

        <header>
            <h1>
                <%= title %>
            </h1>
        </header>
        <main class="mx-auto">
            <div class="container">
                <form class="form-horizontal" action="/profiles/<%= profile._id %>?_method=PUT" method="POST">
                    <div class="form-group">
                        <label style="font-size:16px;" for="name-input" class="control-label col-sm-2">Name</label>
                        <div class="col-sm-30">
                            <input type="text" class="form-control" id="name-input" name="name"
                                value="<%= profile.name %> ">
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="font-size:16px;" for="avatar-input" class="control-label col-sm-2">Avatar</label>
                        <div class="col-sm-30">
                            <input type="text" class="form-control" id="avatar-input" name="avatar"
                                value="<%= profile.avatar %> ">
                        </div>

                        <div class="col text-center">
                            <button style="text-align: center;" type="submit" class="btn btn-primary">Update</button>
                        </div>
                </form>
            </div>
        </main>


        <%- include('./../partials/footer') %>