<%- include('./../partials/html-head') %>
    <%- include('./../partials/nav') %>

        <main>
            <form action="/profiles/<%= profile._id %>?_method=PUT" method="POST">
                <div>
                    <label for="name-input" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name-input" name="name" value="<%= profile.name %> ">
                </div>
                <div>
                    <label for="avatar-input" class="form-label">Avatar</label>
                    <input type="text" class="form-control" id="avatar-input" name="avatar"
                        value="<%= profile.avatar %> ">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </main>


        <%- include('./../partials/footer') %>