<%- include('./../partials/html-head') %>
    <%- include('./../partials/nav') %>


        <header>
            <h1>
                <%= title %>
            </h1>
        </header>
        <main class="container mx-auto">
            <div class="container row row-cols-4 row-cols-md-4 row-cols-xl-4 g1 gx-auto"">
                <% profiles.forEach(function(profile){ %>
                    <div class=" col-sm-5 col-md-4 col-lg-3 col-xl-2 mx-auto px-auto">
                <a class="text-decoration-none" href="/profiles/<%= profile._id %>">
                    <div class="card mb-4" style="font-size:16px;text-align:center">
                        <% if (profile.avatar) { %>
                            <img class="card-img-top" width="100%" src="<%= profile.avatar %>"
                                alt="<%= profile.name%>'s avatar" />

                            <% } else { %>
                                <img src="/images/icons/user.png" alt="placeholder" />
                                <% } %>
                                    <div class="body">
                                        <p class="title">
                                            <%= profile.name %>
                                        </p>
                                    </div>
                    </div>
                </a>
            </div>
            <% }) %>
                </div>
        </main>


        <%- include('./../partials/footer') %>