<%- include('./../partials/html-head') %>
    <%- include('./../partials/nav') %>

        <header>
            <h1>
                <%= title %>
            </h1>
        </header>

        <div class="mx-auto">
            <div class="card" style="height:auto;width:400px">
                <% if(profile.avatar) { %>
                    <img class="" src="<%= profile.avatar %>" alt="">
                    <% } %>
                        <h1>
                            <%= profile.name %>
                        </h1>
                        <div class="container">
                            <table class="table">
                                <tbody style="font-size:16px">
                                    <% if(user.profile._id.toString()===profile._id.toString()) { %>
                                        <tr>
                                            <td class="">Google Email:</td>
                                            <td>
                                                <%= user.email %>
                                            </td>
                                        </tr>
                                        <% } %>
                                            <tr>
                                                <td>Name:</td>
                                                <td>
                                                    <%= profile.name %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Avatar URL:</td>
                                                <td><a href="<%= profile.avatar %>">
                                                        <%= profile.avatar.substring(0,35) %>
                                                            <% if(profile.avatar.length>35) { %>
                                                                ... <% } %>
                                                    </a>
                                                </td>
                                            </tr>
                                </tbody>
                            </table>
                        </div>
                        <%# edit profile ui %>
                            <% if(user.profile._id.toString()===profile._id.toString()) { %>
                                <a class="btn btn-primary" role="button" href="/profiles/<%= profile._id %>/edit ">Edit
                                    Your Profile!</a>
                                <a class="btn btn-danger" role="button" href="/auth/logout">Logout</a>
                                <%}%>
            </div>
        </div>

        <%- include('./../partials/footer') %>