<%- include('./../partials/html-head') %>
    <%- include('./../partials/nav') %>

        <h1>
            <%+ title %>
        </h1>

        <ectio>
            <section>
                <% if(profile.avatar) { %>
                    <img class="" src="<%= profile.avatar %>" alt="<%= profile.name%>'s avatar">


                    <img src="/images/icons/user.png" alt="<%= profile.name%>'s avatar" alt="placeholder">
                    <% } %>
                        <h1>
                            <%= profile.name %>
                        </h1>
                        <div class="container">
                            <table class="table">
                                <tbody>
                                    <% if(user.profile._id.toString()===profile._id.toString()) { %>
                                        <tr>
                                            <td>Google Email:</td>
                                            <td>
                                                <%= user.email %>
                                            </td>
                                        </tr>
                                        <% } %>
                                            <tr>
                                                <td>Name:</td>
                                                <td>
                                                    <%= profile.name %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Avatar URL:</td>
                                                <td><a href="<%= profile.avatar %>">
                                                        <%= profile.avatar.substring(0,35) %>
                                                            <% if(profile.avatar.length>35) { %>
                                                                ... <% } %>
                                                    </a>
                                                </td>
                                            </tr>
                                </tbody>
                            </table>
                        </div>
                        <%# edit profile ui %>
                        <% if(user.proflie._id.toString()===profile._id.toString()) { %>
                            <a class="btn btn-warning" role="button" href="/profiles/<%= profile._id %>/edit ">Edit Your Profile!</a>
                            <a class="btn btn-danger" role="button" href="/auth/logout">Logout</a>
                            <%}%>

            </section>
            </main>

            <%- include('./../partials/footer') %>