<%- include('./../partials/html-head') %>
    <%- include('./../partials/nav') %>
        <header>
            <h1>
                Edit Note
            </h1>
        </header>
        <main class="mx-auto">
            <div class="container">
                <form class="form-horizontal" action="/notes/<%= note._id %>/<%= recipeId %>?_method=PUT" method="POST">
                    <div class="form-group">
                        <label for="content-input" class="control-label col-md-12"
                            style="font-size:16px;">Content</label>
                        <div class="col-md-40">
                            <textarea type="text" class="form-control" id="content-input" name="content"
                                placeholder="Edit your note here" value="<%= note.content %> "></textarea>
                        </div>
                        <div class="col text-center">
                            <button style="text-align: center;" class="btn btn-primary" type="submit">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
        <%- include('./../partials/footer') %>