<%- include('./../partials/html-head') %>
    <%- include('./../partials/nav') %>

        <main>
            <h1><% title %></h1>
            <div>
            <form class="container" action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
                <div>
                    <label for="name-input" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name-input" name="name" value="<%= recipe.name %> ">
                </div>
                <div>
                    <label for="cuisine-input" class="form-label">Cuisine</label>
                    <input type="text" class="form-control" id="name-input" name="cuisine"
                        value="<%= recipe.cuisine %>">
                </div>
            </form>
            </div>
        </main>

        <%- include('./../partials/footer') %>