<%- include('./../partials/html-head') %>
    <%- include('./../partials/nav') %>

        <main id="recipe-index">
            <h1>
                <%= title %>
            </h1>
            <table id="list">
                <% if(recipes.length> 0){ %>

                    <div class="container">
                        <% recipes.forEach((recipe)=> { %>
                            <div class="card" style="width: 18rem;">

                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= recipe.name%>
                                    </h5>
                                    <h5 class="card-title">
                                        <%= recipe.cuisine %>
                                    </h5>
                                    <h5 class="card-title">
                                        <%= recipe.difficulty %>
                                    </h5>
                                    <h5 class="card-title"></h5>
                                    <p class="card-text">
                                        <%= recipe.preptime %>
                                    </p>
                                    <a href="/recipes/<%= recipe._id %>" class="btn btn-primary">DETAILS</a>

                                </div>

                                <% }) %>
                                    <% } %>
                            </div>
                    </div>
            </table>
        </main>








        




        <%- include('./../partials/footer') %>