<%- include('./../partials/html-head') %>
    <%- include('./../partials/nav') %>

        <header>
            <h1>
                <%= title %>
            </h1>
        </header>

        <div class="mx-auto">
            <form class="" id="new-form" action="/recipes" method="POST">
                <div class="" style="font-size:20px;">
                    <div class="form-group">
                        <label for="name-input">Recipe Name:</label>
                        <input type="text" name="name" id="name-input">
                    </div>
                    <div class="form-group">
                        <label for="cuisine-input">Cuisine:
                        </label>
                        <input type="text" name="cuisine" id="cuisine-input">
                    </div>
                    <div class="form-group">
                        <label for="difficulty-input">Difficulty:</label>
                        <select name="difficulty" id>
                            <option value="Jamie Oliver (Easy)">Jamie Oliver(Easy)</option>
                            <option value="Guy Fieri (Medium)">Guy Fieri(Medium)</option>
                            <option value="Bobby Flay (Hard)">Bobby Flay(Hard)</option>
                            <option value="Gordon Ramsay (Advanced)">Gordon Ramsay(Advanced)</option>
                        </select>
                        <div class="form-group">
                            <label for="ingredients-input">Ingredients:</label>
                            <textarea type="text" name="ingredients" id="ingredients-input"></textarea>
                        </div>
                        <label for="preptime-input">Prep Time:</label>
                        <input type="number" name="preptime" id="preptime-input" placeholder="Max 90 mins">
                        <div>
                            <label for="createdOn">Creation Date: <%= createDate %></label>

                        </div>
                        <button type="submit" class="btn btn-primary">Add Recipe</button>
                    </div>
                    </divfor>
            </form>
        </div>
        <%- include('./../partials/footer') %>