<%- include('./../partials/html-head') %>
    <%- include('./../partials/nav') %>

        <header>
            <h1>
                <%= title %>
            </h1>
        </header>

        <main class="container" style="text-align:center;font-size:20px;">
            <section>
                <form action="/recipes/<%= recipe._id %>/edit?_method=PUT" class="update-form" method="PUT">
                    <button class="btn btn-primary" type="submit">Edit</button>
                </form>
                <form action="/recipes/<%= recipe._id %>?_method=DELETE" class="delete-form" method="POST">
                    <button class="btn btn-primary" type="submit">Delete</button>
                </form>
                <div>
                    <%= recipe.imageURL %>
                </div>
                <div>Name:<%= recipe.name %>
                </div>
                <div>Cuisine: <%= recipe.cuisine %>
                </div>
                <div>Difficulty: <%= recipe.difficulty %>
                </div>
                <div>CreatedOn: <%= recipe.createdOn.toLocaleString() %>
                </div>
                <div>
                    Ingredients: <%= recipe.ingredients %>
                </div>
                <div>
                    Prep Time: <%= recipe.preptime %> minutes
                </div>
                <div>
                    <h3>Cooking Instructions:</h3>
                </div>
                <% if(recipe.notes.length) { %>
                    <table>
                        <thead>
                        </thead>
                        <tbody>
                            <% recipe.notes.forEach(function(note){ %>
                                <tr>
                                    <td class="container" style="text-align:center;font-size:20px">
                                        <%= note.content %>
                                            <form action="/notes/<%= note._id %>/edit/<%= recipe._id %>?_method=PUT"
                                                class="update-form" method="PUT">
                                                <input type="hidden" name="editId" value="<%= recipe._id %> ">
                                                <button class="btn btn-primary" type="submit">Edit</button>
                                            </form>
                                            <form action="/notes/<%= note._id %>/<%= recipe._id %>?_method=DELETE"
                                                class="delete-form" method="POST">
                                                <button class="btn btn-primary" type="submit">Delete</button>
                                            </form>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>

                    <% } else { %>
                        <h3>No Steps Added Yet!</h3>
                        <% } %>
            </section>
            <section class="container" style="text-align:center;font-size:20px;">
                <h3>Add Cooking Instructions:</h3>
                <form id="add-note-form" action="/recipes/<%= recipe._id %>/notes" method="POST">
                    <div>
                        <textarea type="text" name="note" id="note-input"
                            placeholder="Enter a New Note Here"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit">Add Note</button>
                </form>
            </section>



        </main>
        <%- include('./../partials/footer') %>