<main>
    <h1>
        <%= title %>
    </h1>
    <section>
        <div>
            <%= recipe.imageURL %>
        </div>
        <div>Name:<%= recipe.name %>
        </div>
        <div>Cuisine: <%= recipe.cuisine %>
        </div>
        <div>Difficulty: <%= recipe.difficulty %>
        </div>
        <div>CreatedOn: <%= recipe.createdOn %>
        </div>
        <div>Notes:</div>
        <ul>
            <%- recipe.notes.map(n=>
                `<li>${n.content}</li>`).join('') %>
        </ul>
    </section>
</main>